### **Importação das Bases de Dados**

In [1]:
import pandas as pd
import os
from datetime import datetime
from disparador_email import enviar_email

data_atual = datetime.today().strftime('%d-%m-%Y')
def money_format(valor): 
    try:
        valor = f'R${int(valor):,.2f}'.replace(',', '#').replace('.', ',').replace('#', '.')
    except:
        valor = 'Sem Venda'

    return valor

df_emails = pd.read_excel("Bases de Dados/Emails.xlsx")
df_emails['E-mail'] = df_emails['E-mail'].str.removeprefix('pythonimpressionador+')
display(df_emails)
print(df_emails.info())

                                Loja      Gerente                 E-mail
0                 Iguatemi Esplanada       Helena       helena@gmail.com
1               Shopping Midway Mall        Alice        alice@gmail.com
2                     Norte Shopping        Laura        laura@gmail.com
3        Shopping Iguatemi Fortaleza      Manuela      manuela@gmail.com
4           Shopping União de Osasco    Valentina    valentina@gmail.com
5         Shopping Center Interlagos       Sophia       sophia@gmail.com
6                     Rio Mar Recife     Isabella     isabella@gmail.com
7                  Salvador Shopping      Heloisa      heloisa@gmail.com
8         Rio Mar Shopping Fortaleza        Luiza        luiza@gmail.com
9   Shopping Center Leste Aricanduva        Julia        julia@gmail.com
10                 Ribeirão Shopping       Lorena       lorena@gmail.com
11                  Shopping Morumbi        Livia        livia@gmail.com
12         Parque Dom Pedro Shopping  Maria Luiza  maria_luiza@gmail.com
13               Bourbon Shopping SP      Cecilia      cecilia@gmail.com
14       Palladium Shopping Curitiba         Eloa         eloa@gmail.com
15         Passei das Águas Shopping       Miguel       miguel@gmail.com
16        Center Shopping Uberlândia       Arthur       arthur@gmail.com
17                   Shopping Recife       Heitor       heitor@gmail.com
18               Shopping Vila Velha     Bernardo     bernardo@gmail.com
19                Shopping SP Market         Davi         davi@gmail.com
20                 Shopping Eldorado         Theo         theo@gmail.com
21               Shopping Ibirapuera      Lorenzo      lorenzo@gmail.com
22      Novo Shopping Ribeirão Preto      Gabriel      gabriel@gmail.com
23                 Iguatemi Campinas        Pedro        pedro@gmail.com
24                    Shopping Barra     Benjamin     benjamin@gmail.com
25                         Diretoria    Diretoria    diretoria@gmail.com

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Loja     26 non-null     object
 1   Gerente  26 non-null     object
 2   E-mail   26 non-null     object
dtypes: object(3)
memory usage: 752.0+ bytes
None

In [2]:
df_lojas = pd.read_csv("Bases de Dados/Lojas.csv", sep=';', encoding='latin-1', dtype={'ID Loja': str})
display(df_lojas.head())
print(df_lojas.info())

  ID Loja                         Loja
0       1           Iguatemi Esplanada
1       2         Shopping Midway Mall
2       3               Norte Shopping
3       4  Shopping Iguatemi Fortaleza
4       5     Shopping União de Osasco

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID Loja  25 non-null     object
 1   Loja     25 non-null     object
dtypes: object(2)
memory usage: 528.0+ bytes
None

In [3]:
df_vendas = pd.read_excel("Bases de Dados/Vendas.xlsx", dtype={'ID Loja': str})
display(df_vendas.head())
print(df_vendas.info())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,1,Sapato Estampa,1,358,358
1,1,2019-01-01,1,Camiseta,2,180,360
2,1,2019-01-01,1,Sapato Xadrez,1,368,368
3,2,2019-01-02,3,Relógio,3,200,600
4,2,2019-01-02,3,Chinelo Liso,1,71,71

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100999 entries, 0 to 100998
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Código Venda    100999 non-null  int64
 1   Data            100999 non-null  datetime64[ns]
 2   ID Loja         100999 non-null  object
 3   Produto         100999 non-null  object
 4   Quantidade      100999 non-null  int64
 5   Valor Unitário  100999 non-null  int64
 6   Valor Final     100999 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 5.4+ MB
None

### **Para os Gerentes**

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>    
    table {
      border-collapse: collapse;
      width: auto;
      margin-bottom: 16px;
    }
    th, td {
      border: 1px solid #999;
      padding: 4px 8px;
      text-align: center;
    }
    th {
      font-weight: bold;
    }
  </style>
</head>
<body>

<p>Bom dia, Tananana</p>

<p>O resultado de ontem foi:</p>

<table>
  <tr>
    <th>Indicador</th>
    <th>Valor Dia</th>
    <th>Meta Dia</th>
    <th>Cenário Dia</th>
  </tr>
  <tr>
    <td>Indicador 1</td>
    <td>x</td>
    <td>y</td>
    <td>Bom</td>
  </tr>
  <tr>
    <td>Indicador 2</td>
    <td>x</td>
    <td>y</td>
    <td>Ruim</td>
  </tr>
  <tr>
    <td>Indicador 3</td>
    <td>x</td>
    <td>z</td>
    <td>Bom</td>
  </tr>
</table>

<table>
  <tr>
    <th>Indicador</th>
    <th>Valor Ano</th>
    <th>Meta Ano</th>
    <th>Cenário Ano</th>
  </tr>
  <tr>
    <td>Indicador 1</td>
    <td>x</td>
    <td>y</td>
    <td>Bom</td>
  </tr>
  <tr>
    <td>Indicador 2</td>
    <td>x</td>
    <td>y</td>
    <td>Ruim</td>
  </tr>
  <tr>
    <td>Indicador 3</td>
    <td>x</td>
    <td>z</td>
    <td>Bom</td>
  </tr>
</table>

<p>Segue em anexo a planilha com todos os dados para mais detalhes.<br>
Qualquer dúvida, estou à disposição.</p>

<p>Att.,<br>
Fulano</p>

</body>
</html>

In [4]:
ultimo_dia = max(df_vendas['Data'])

meta_faturamento_dia = 1000
meta_diversidade_produtos_vendidos_dia = 4
meta_ticket_medio_por_venda_dia = 50

meta_faturamento_ano = 1650000
meta_diversidade_produtos_vendidos_ano = 120
meta_ticket_medio_por_venda_ano = 500

with open('mensagem-gerentes.html', 'r+', encoding='utf-8') as arquivo_html:
    corpo_email_gerentes = arquivo_html.read()

print(corpo_email_gerentes.count('{}'))

22

In [ ]:
if not os.path.exists('BackupLojas - Vendas'):
    os.mkdir('BackupLojas - Vendas')

email = r'felipe.monsef.vasc@gmail.com'

for index in df_emails[:-1].index:
    nome_loja = df_emails.loc[index, 'Loja']
    nome_gerente = df_emails.loc[index, 'Gerente']
    # email_gerente = df_emails.loc[index, 'E-mail']

    filtro_loja = df_lojas['Loja'] == nome_loja
    id_loja = df_lojas[filtro_loja]['ID Loja'].tolist()[0]

    filtro_id_loja = df_vendas['ID Loja'] == id_loja
    df_export = df_vendas[filtro_id_loja].copy()


    # consolidado do dia
    filtro_dia = df_export['Data'] == ultimo_dia
    df_vendas_ultimo_dia = df_export[filtro_dia].copy()
    
    faturamento_total_dia = df_vendas_ultimo_dia['Valor Final'].sum()
    qtd_produtos_vendidos_dia = len(df_vendas_ultimo_dia['Produto'].unique())
    ticket_medio_por_venda_dia = df_vendas_ultimo_dia.groupby('Código Venda')[['Valor Final']].mean().reset_index()['Valor Final'].mean()


    # consolidado do ano
    faturamento_total_ano = df_export['Valor Final'].sum()
    qtd_produtos_vendidos_ano = len(df_export['Produto'].unique())
    ticket_medio_por_venda_ano = df_export.groupby('Código Venda')[['Valor Final']].mean().reset_index()['Valor Final'].mean()


    if faturamento_total_dia >= meta_faturamento_dia:
        cenario_faturamento_dia = '✅'
    else:
        cenario_faturamento_dia = '❌'

    if qtd_produtos_vendidos_dia >= meta_diversidade_produtos_vendidos_dia:
        cenario_produtos_dia = '✅'
    else:
        cenario_produtos_dia = '❌'

    if ticket_medio_por_venda_dia >= meta_ticket_medio_por_venda_dia:
        cenario_ticket_medio_dia = '✅'
    else:
        cenario_ticket_medio_dia = '❌'


    if faturamento_total_ano >= meta_faturamento_ano:
        cenario_faturamento_ano = '✅'
    else:
        cenario_faturamento_ano = '❌'

    if qtd_produtos_vendidos_ano >= meta_diversidade_produtos_vendidos_ano:
        cenario_produtos_ano = '✅'
    else:
        cenario_produtos_ano = '❌'

    if ticket_medio_por_venda_ano >= meta_ticket_medio_por_venda_ano:
        cenario_ticket_medio_ano = '✅'
    else:
        cenario_ticket_medio_ano = '❌'



    email_enviar = corpo_email_gerentes.format(
        nome_gerente, ultimo_dia.strftime("%d-%m-%Y"), nome_loja,
        money_format(faturamento_total_dia), money_format(meta_faturamento_dia), cenario_faturamento_dia, 
        qtd_produtos_vendidos_dia, meta_diversidade_produtos_vendidos_dia, cenario_produtos_dia,
        money_format(ticket_medio_por_venda_dia), money_format(meta_ticket_medio_por_venda_dia), cenario_ticket_medio_dia,
        money_format(faturamento_total_ano), money_format(meta_faturamento_ano), cenario_faturamento_ano, 
        qtd_produtos_vendidos_ano, meta_diversidade_produtos_vendidos_ano, cenario_produtos_ano,
        money_format(ticket_medio_por_venda_ano), money_format(meta_ticket_medio_por_venda_ano), cenario_ticket_medio_ano,
        'felipe',
    )

    assunto = f'OnePage Dia {ultimo_dia.strftime("%d-%m-%Y")} - {nome_loja}'


    df_export['Valor Final'] = df_export['Valor Final'].astype(str)
    df_export.loc[:, 'Valor Final'] = df_export['Valor Final'].apply(money_format)

    if not os.path.exists(rf'BackupLojas - Vendas\Vendas - {nome_loja}'):
        os.mkdir(rf'BackupLojas - Vendas\Vendas - {nome_loja}')

    if not os.path.exists(rf'BackupLojas - Vendas\Vendas - {nome_loja}\{ultimo_dia} - {nome_loja}.xlsx'):
        df_export.to_excel(rf'BackupLojas - Vendas\Vendas - {nome_loja}\{ultimo_dia.strftime("%d-%m-%Y")} - {nome_loja}.xlsx', index=False)
    
    enviar_email(assunto, email_enviar, rf'BackupLojas - Vendas\Vendas - {nome_loja}\{ultimo_dia.strftime("%d-%m-%Y")} - {nome_loja}.xlsx', f'{ultimo_dia.strftime("%d-%m-%Y")} - {nome_loja}.xlsx')

    break

Email enviado

#### **Para a Diretoria**

##### **Indicadores - Por Ano**

In [ ]:
texto_ranking1 = ''
df_ranking_lojas_ano = df_vendas.groupby('ID Loja')[['Valor Final']].sum().reset_index().sort_values(by='Valor Final', ascending=False)
df_ranking_lojas_ano = pd.merge(df_ranking_lojas_ano, df_lojas, on='ID Loja')
df_ranking_lojas_ano['Valor Final'] = df_ranking_lojas_ano['Valor Final'].apply(money_format)


melhor_loja_ano = df_ranking_lojas_ano['Loja'].tolist()[0]
pior_loja_ano = df_ranking_lojas_ano['Loja'].tolist()[-1]

for index, loja in enumerate(df_ranking_lojas_ano['Loja'], start=1):
    texto_ranking1 += f'Top {index}: {loja}'
    if index != len(df_ranking_lojas_ano['Loja']):
        texto_ranking1 += '\n'

print(melhor_loja_ano)
print(pior_loja_ano)
print(texto_ranking1)

##### **Indicadores - Por Dia**

In [ ]:
texto_ranking2 = ''
df_vendas_ultimo_dia = df_vendas[(df_vendas['Data'] == ultimo_dia)]
df_ranking_lojas_dia = pd.merge(df_vendas_ultimo_dia.groupby('ID Loja')[['Valor Final']].sum().reset_index().sort_values(by='Valor Final', ascending=False), df_lojas, on='ID Loja')
df_ranking_lojas_dia['Valor Final'] = df_ranking_lojas_dia['Valor Final'].apply(money_format)

melhor_loja_dia = df_ranking_lojas_dia['Loja'].tolist()[0]
pior_loja_dia = df_ranking_lojas_dia['Loja'].tolist()[-1]

for index, loja in enumerate(df_ranking_lojas_dia['Loja'], start=1):
    texto_ranking2 += f'Top {index}: {loja}'
    if index != len(df_ranking_lojas_dia['Loja']):
        texto_ranking2 += '\n'

print(melhor_loja_dia)
print(pior_loja_dia)
print(texto_ranking2)

if not os.path.exists(r'BackupLojas - Vendas\Vendas - Diretoria'):
    os.mkdir(r'BackupLojas - Vendas\Vendas - Diretoria')

if (not os.path.exists(rf'BackupLojas - Vendas\Vendas - Diretoria\RankingLojasAno - {data_atual}.xlsx')) and (not os.path.exists(rf'BackupLojas - Vendas\Vendas - Diretoria\RankingLojasDia - {data_atual}.xlsx')):
    df_ranking_lojas_ano.to_excel(rf'BackupLojas - Vendas\Vendas - Diretoria\RankingLojasAno - {data_atual}.xlsx', index=False)
    df_ranking_lojas_dia.to_excel(rf'BackupLojas - Vendas\Vendas - Diretoria\RankingLojasDia - {data_atual}.xlsx', index=False)